<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
<!--    STYLES -->
    <link href="static/css/login_page.css" rel="stylesheet">
<!--    FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--    SCRIPT -->
    <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
    <script src="static/js/vkID.js"></script>
</head>
<body>
    <main class="main">
        <div class="auth-window">
            <p class="text-auth-window">Войти с помощью:</p>
            <div class="btns-group">
                <div id="btn-vk" class="btn-vk">
                </div>
                <div class="btn-telegram">
                    <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="vc_helper_bot" data-size="large" data-auth-url="https://id.vchern.me/id/oauth/telegram/" data-request-access="write"></script>
                </div>
            </div>
        </div>
    </main>
</body>
</html>