body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.text-auth-window {
    font-family: Montserrat, serif;
    font-size: 24px;
    margin: 0 0 18px 0;
}

.btns-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-vk {
    width: 226px;
}

.auth-erros {
    width: 60%;
    text-align: center;
    margin-bottom: 80px;
    background: rgba(255, 229, 94, 0.7);
    padding: 20px 15px;
    border-radius: 15px;
    border: 4px solid #FFD600;
}

.auth-error-text {
    font-family: Montserrat, serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

@media (max-width: 450px) {
    body {
        transform: scale(1.5);
    }
}